<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.finalproject.infrastructure.mybatis.mapper.InvoiceMapper">
    <insert id="save">
        insert into invoice (id, user_id, status) values(
            #{invoice.id},
            #{invoice.user_id},
            #{invoice.status})
    </insert>

    <update id="updateInvoiceStatus">
        UPDATE invoice
        SET status = #{invoice.status}
        WHERE id = #{invoice.id}
    </update>

    <delete id="deleteInvoiceAndRelevant">
        DELETE FROM invoice
        WHERE id = #{id}
    </delete>

    <select id="getInvoiceAndRelevant" resultMap="invoice">
        SELECT *
        FROM invoice
        WHERE id = #{id}
    </select>

    <resultMap id="invoice" type="com.example.finalproject.core.invoice.Invoice" autoMapping="true">
    </resultMap>
</mapper>