<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.finalproject.infrastructure.mybatis.mapper.MoviesMapper">
    <insert id="insert">
        insert into movies (id, movie_name, premiere_date, detail, trailer_link, image_path) values(
        #{movie.id},
        #{movie.movie_name},
        #{movie.premiere_date},
        #{movie.detail},
        #{movie.trailer_link},
        #{movie.image_path}
        )
    </insert>
</mapper>