<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.finalproject.infrastructure.mybatis.mapper.PremiereMapper">
    <insert id="insert">
        insert into premiere (id, start_time, end_time, movie_id, room_id) values(
        #{premiere.id},
        #{premiere.start_time},
        #{premiere.end_time},
        #{premiere.movie_id},
        #{premiere.room_id}
        )
    </insert>

    <select id="getAll" resultMap="premiere">
        select * from premiere p;
    </select>

    <select id="getPremiereMovie" resultMap="setPremiereMovie">
        SELECT c.cinema_name, r.room_name, p.id, p.start_time
        FROM premiere p
        LEFT JOIN movies m ON m.id = p.movie_id
        LEFT JOIN rooms r ON r.id = p.room_id
        LEFT JOIN cinemas c ON c.id = r.cinema_id
        WHERE TO_CHAR(p.start_time, 'yyyy-mm-dd') = #{start_time} AND p.movie_id = #{movie_id}
    </select>

    <resultMap id="setPremiereMovie" type="com.example.finalproject.application.premiere.GetPremiereResponse" >
        <id column="cinema_name" property="cinema_name"/>
        <collection  property="premiereResponseInfos" column="room_name" ofType="com.example.finalproject.application.premiere.PremiereResponseInfo">
            <id column="room_name" property="room_name"/>
            <collection property="premiereDtos" column="id" ofType="com.example.finalproject.application.premiere.PremiereDto" >
                <id column="id" property="id"/>
                <collection property="start_times" column="start_time" ofType="java.lang.String" >
                    <result column="start_time" property="start_time"></result>
                </collection>
            </collection>
        </collection>
    </resultMap>

    <resultMap id="premiere" type="com.example.finalproject.core.premiere.Premiere" >
        <id column="id" property="id"/>
        <result column="start_time" property="start_time"/>
        <result column="end_time" property="end_time"/>
        <result column="movie_id" property="movie_id"/>
        <result column="room_id" property="room_id"/>
    </resultMap>

</mapper>