<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.finalproject.infrastructure.mybatis.mapper.PremiereMapper">
    <insert id="insert">
        insert into premiere (id, start_time, end_time, movie_id, room_id) values(
        #{premiere.id},
        #{premiere.start_time},
        #{premiere.end_time},
        #{premiere.movie_id},
        #{premiere.room_id}
        )
    </insert>
</mapper>