<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.finalproject.infrastructure.mybatis.mapper.PremiereMapper">
    <insert id="insert">
        insert into premiere (id, start_time, end_time, movie_id, room_id) values(
        #{premiere.id},
        #{premiere.start_time},
        #{premiere.end_time},
        #{premiere.movie_id},
        #{premiere.room_id}
        )
    </insert>

    <select id="getAll" resultMap="premiere">
        select * from premiere p;
    </select>

    <resultMap id="premiere" type="com.example.finalproject.core.premiere.Premiere" >
        <id column="id" property="id"/>
        <result column="start_time" property="start_time"/>
        <result column="end_time" property="end_time"/>
        <result column="movie_id" property="movie_id"/>
        <result column="room_id" property="room_id"/>
    </resultMap>

</mapper>