<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.finalproject.infrastructure.mybatis.mapper.SeatsMapper">
    <insert id="insert" parameterType="java.util.List">
        insert into seats (id, number, rows_alphabet, room_id) values
        <foreach collection="seats" item="seat" index="index" open="(" separator="),("  close=")">
            #{seat.id},
            #{seat.number},
            #{seat.rows_alphabet},
            #{seat.room_id}
        </foreach>
    </insert>
</mapper>