<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.finalproject.infrastructure.mybatis.mapper.SeatsMapper">
    <insert id="insert" parameterType="java.util.List">
        insert into seats (id, number, rows_alphabet, room_id) values
        <foreach collection="seats" item="seat" index="index" open="(" separator="),("  close=")">
            #{seat.id},
            #{seat.number},
            #{seat.rows_alphabet},
            #{seat.room_id}
        </foreach>
    </insert>

    <update id="update" parameterType="java.util.List">
        <foreach collection="seats" item="seatOccupied" index="index" open="" close="" separator=";">
            update seat_occupied
            <set>
                <if test="seatOccupied.status != ''">status = #{seatOccupied.status},</if>
                <if test="seatOccupied.disabled != ''">disabled = #{seatOccupied.disabled},</if>
            </set>
            where seat_id = #{seatOccupied.seat_id}
        </foreach>
    </update>

    <delete id="delete">
        <foreach collection="seats" item="seatOccupied" index="index" open="" close="" separator=";">
            delete from seat_occupied
            where seat_id = #{seatOccupied.seat_id}
        </foreach>
    </delete>

    <update id="autoUpdateSeatOccupied">
        update seat_occupied
        set disabled = true
        from (
        select id
        from premiere p
        where NOW() > start_time and p.disabled is true
        ) as tp
        where tp.id = seat_occupied.premiere_id
    </update>

    <select id="getSeatsPremiere" resultMap="seatOccupied">
        SELECT seat_id, premiere_id, status
        FROM seat_occupied AS so
        WHERE so.premiere_id = #{premiereId}
    </select>

    <insert id="insertSeatOccupied" parameterType="java.util.List">
        INSERT INTO seat_occupied (seat_id, premiere_id, status, disabled) VALUES
        <foreach collection="seatOccupiedList" item="seatOccupied" index="index" open="(" separator="),("  close=")">
            #{seatOccupied.seat_id},
            #{seatOccupied.premiere_id},
            0,
            false
        </foreach>
    </insert>

    <select id="existsSeatOccupied" resultType="java.lang.Boolean">
        SELECT EXISTS(SELECT status FROM seat_occupied WHERE seat_id = #{seatId} AND premiere_id = #{premiereId})
    </select>

    <select id="getSeatsStatus" resultMap="seatStatus">
        SELECT s.id, s.number, s.rows_alphabet,
            CASE
                WHEN so.status IS NULL THEN 2
                ELSE so.status
            END
        FROM seats s
        LEFT JOIN seat_occupied so ON s.id = so.seat_id AND so.premiere_id = #{premiereId} AND disabled = false
        WHERE s.room_id = #{roomId}
        ORDER BY s.rows_alphabet, s.number ASC
    </select>

    <resultMap id="seatStatus" type="com.example.finalproject.application.seats.SeatRows" >
        <id column="rows_alphabet" property="rows_alphabet"/>
        <collection  property="seatNumberArrayList" ofType="com.example.finalproject.application.seats.SeatNumber">
            <id property="id" column="id" ></id>
            <result column="number" property="number"/>
            <result column="status" property="status"/>
        </collection>
    </resultMap>

    <resultMap id="seatOccupied" type="com.example.finalproject.core.seats.SeatOccupied" autoMapping="true">
        <result column="seat_id" property="seat_id"/>
        <result column="premiere_id" property="premiere_id"/>
    </resultMap>
</mapper>