<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.finalproject.infrastructure.mybatis.mapper.UserMapper">
  <insert id="insert">
    insert into users (id, email, password, name, level_id, phone_number, dob, address, role)
    values(
    #{user.id},
    #{user.email},
    #{user.password},
    #{user.name},
    #{user.level},
    #{user.phoneNumber},
    #{user.dob},
    #{user.address},
    #{user.role}
    )
  </insert>
  <update id="updateLevel">
    update users set level = #{level} where id = #{user_id}
  </update>
  <select id="getAdmin" resultMap="user">
    select * from users where role = 'ad'
  </select>
  <select id="findById" resultMap="user">
    select * from users where id = #{id}
  </select>
   <select id="findByUsername" resultMap="user">
    select * from users where username = #{username}
  </select>
  <select id="findByEmail" resultMap="user">
    select * from users where email = #{email}
  </select>
  <resultMap id="user" type="com.example.finalproject.core.user.User" >
    <id column="id" property="id"/>
    <result column="email" property="email"/>
    <result column="password" property="password"/>
    <result column="name" property="name"/>
    <result column="level" property="level"/>
    <result column="phone_number" property="phoneNumber"/>
    <result column="dob" property="dob"/>
    <result column="address" property="address"/>
  </resultMap>

</mapper>